LANGCHAIN_TRACING_V2="true"
LANGCHAIN_PROJECT="your-project-name"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your-langchain-api-key"

OPENAI_API_KEY="your-openai-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
GROQ_API_KEY="your-groq-api-key"
GOOGLE_API_KEY="your-google-api-key"

GCLOUD_YT_SEARCH_API_KEY_1="your-youtube-search-api-key-1"
GCLOUD_YT_SEARCH_API_KEY_2="your-youtube-search-api-key-2"
GCLOUD_YT_SEARCH_API_KEY_3="your-youtube-search-api-key-3"

COHERE_API_KEY="your-cohere-api-key"
EXA_API_KEY="your-exa-api-key"
RAPID_API_KEY="your-rapid-api-key"
PPLX_API_KEY="your-pplx-api-key"

# OPENROUTER_API_KEY="your-openrouter-api-key"

WINSTON_API_KEY="your-winston-api-key"
LANGTRACE_API_KEY="your-langtrace-api-key"
LANGTRACE_ON="false"

GDRIVE_SA_B64="your-base64-encoded-service-account-key"

GOOGLE_CSE_ID="your-google-cse-id"
GOOGLE_CSE_API_KEY="your-google-cse-api-key"

# JIRA_SITE="your-jira-site"
# JIRA_EMAIL="your-jira-email"
# JIRA_API_TOKEN="your-jira-api-token"

