langchain
langchain-community
langchain-openai
langchain-groq
langchain-anthropic
langchain-google-genai
duckduckgo_search
html2text
playwright
beautifulsoup4
nest-asyncio
langchain-text-splitters
tiktoken
langchain-cohere
faiss-cpu
pypdf
rank_bm25
chonkie[semantic]
gspread
pydrive2
pandas
youtube-transcript-api
pytube
langchain-huggingface
streamlit
python-dotenv
tqdm
google-api-python-client